.container {
  background-color: #2c3849;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .box-width {
  width: 40%;
  min-width: 300px;
  max-width: 500px;
}

.container .container-img .logo {
  width: 80%;
  margin: 5px auto 10px;
  display: block;
}

.container .container-form {
  background-color: white;
  padding: 40px 25px 30px;
  margin-bottom: 40px;
}

.container .container-form .input-field {
  position: relative;
  margin-top: 1rem;
}

.container .container-form .input-field .visibility {
  position: absolute;
  z-index: 10;
  right: 0;
  top: .8rem;
  cursor: pointer;
  color: #9e9e9e;
  display: none;
  width: 24px;
}

.container .container-form .input-field input[type="text"], .container .container-form .input-field input[type="password"], .container .container-form .input-field input[type="email"] {
  text-indent: 20px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #404854;
  border-bottom: 1px solid #9e9e9e;
  height: 3rem;
  margin: 0 0 15px;
  font-size: 1rem;
  width: 100%;
  transition: .3s;
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
}

.container .container-form .input-field input[type="text"]:focus, .container .container-form .input-field input[type="password"]:focus, .container .container-form .input-field input[type="email"]:focus {
  outline: none;
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

.container .container-form .input-field .label {
  font-size: .9rem;
  line-height: 1.15;
  color: #2196f3;
  position: absolute;
  left: 0;
  top: -12px;
  cursor: text;
  transition: .2s ease;
  font-family: "Open Sans", sans-serif;
}

.container .container-form .form-redirect {
  text-align: center;
  margin-top: 1rem;
}

.container .container-form .form-redirect a {
  color: #0279b3;
  font-family: "Roboto", sans-serif;
  font-size: .85rem;
}

.container .container-form .btn {
  margin-top: 2rem;
}

.container .container-form .btn input {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: #039be5;
  border: 0;
  outline: 0;
  padding: 0 29px;
  display: block;
  margin: 0 auto;
  color: #fff;
  letter-spacing: .5px;
  height: 40px;
  line-height: 40px;
  width: 50%;
  cursor: pointer;
}

.container .container-form .btn input:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.container .container-form .btn input:active {
  background-color: #039be5;
}
