.Menu {
  height: 100%;
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  background-color: #1fb4fc;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.2), 1px 0 5px 0 rgba(0, 0, 0, 0.14), 3px 0 2px -1px rgba(0, 0, 0, 0.12);
  transition: .5s all;
}

.Menu.show-fade {
  left: -250px;
}

.Menu ul {
  margin-top: 150px;
}

.Menu ul li {
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
}

.Menu ul li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #2c3849;
  text-indent: 20px;
  transition: .2s all;
}

.Menu ul li a:hover {
  color: #039be5;
}

.Menu ul li a:active {
  color: #fff;
}

.Menu .container-logout {
  position: absolute;
  bottom: 0;
  background-color: #2c3849;
  width: 100%;
  text-align: center;
}

.Menu .container-logout .logout {
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  line-height: 41px;
}

.Menu .container-logout .logout:active {
  color: #039be5;
}
