@import '_variables.scss';

.Confirmation-Message{
    background: transparent;
    min-height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba($color: #000, $alpha: .4);
    .main-content{
        width: 40%;
        max-width: 600px;
        background: #fff;
        padding: 20px;

        p{
            font-family: $font-paragraph;
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;

        }
        a{
            font-family: $font-button;
            font-weight: normal;
            background-color: $color-button;
            border: 0;
            outline: 0;
            padding: 0 29px;
            display: block;
            margin: 0 auto;
            color: #fff;
            letter-spacing: .2px;
            height: 40px;
            line-height: 40px;
            width: 200px;
            cursor: pointer;
            font-size: .85rem;
            text-align: center;
            text-decoration: none;

            &:hover{
                 box-shadow: $box-shadow--hover;
            }
                
            &:active{
                background-color: $color-button;
            }
        }
    }
}