@import '_variables';

.container{
    background-color:$first-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .box-width{
        width: 40%;
        min-width: 300px;
        max-width: 500px;
    }
    
    .container-img{
        
        .logo{
           width: 80%;
           margin: 5px auto 10px;
           display: block;
        }
    }
    .container-form{
        background-color: white;
        padding: 40px 25px 30px;
        margin-bottom: 40px;

        .login-user{
        
        }
        
        .input-field{
            position: relative;
            margin-top: 1rem;
            .visibility{
                position: absolute;
                z-index: 10;
                right: 0;
                top: .8rem;
                cursor: pointer;
                color: $second-border-color;
                display: none;
                width: 24px;
            }
            input[type="text"], input[type="password"], input[type="email"]{
                text-indent: 20px;
                background-color: transparent;
                border:0;
                outline: 0;
                color: $first-border-color;
                border-bottom: 1px solid $second-border-color;
                height: 3rem;
                margin: 0 0 15px;
                font-size: 1rem;
                width: 100%;
                transition : .3s;
                font-family: $font-paragraph;
                font-size: .9rem;
                &:focus{
                    outline: none;
                    border-bottom: 1px solid #2196f3;
                    box-shadow: 0 1px 0 0 #2196f3;
                }
            }
            .label{

                font-size: .9rem;
                line-height: 1.15;
                color: #2196f3;
                position: absolute;
                left: 0;
                top:-12px;
                cursor: text;
                transition: .2s ease;
                font-family: $font-paragraph;
                
            }
        }

        .form-redirect{
            text-align: center;
            margin-top: 1rem;
            a{
                color: darken($color-button,10);
                font-family: $font-button;
                font-size: .85rem;
            }
        }

        .btn{
        margin-top: 2rem;
           input{
                font-family: $font-button;
                font-weight: normal;
                background-color: $color-button;
                border: 0;
                outline: 0;
                padding: 0 29px;
                display: block;
                margin: 0 auto;
                color: #fff;
                letter-spacing: .5px;
                height: 40px;
                line-height: 40px;
                width: 50%;
                cursor: pointer;

                &:hover{
                    box-shadow: $box-shadow--hover;
                }
                
                &:active{
                    background-color: $color-button;
                }
           }
        }
    }
}