@import '_variables.scss';

.Register{
    position: relative;
    background: $first-color;
    min-height: 100vh;
    
    display:flex;
    align-items: center;
}

.register-container{
    max-width: 720px;
    width: 50%;
    margin: 20px auto;
    margin-top: 40px;
    background-color: white;
    @media screen and ( max-width: 768px) {
       width: 80%;
    }

}


.register-title{
    border-bottom: 20px solid $first-color ;
    padding: 15px 5px;
    h2{
        color: $first-border-color;
        font-family: $font-titles;
        text-transform: uppercase;
        padding-left: 30px;
    }
}
.register-form{
    
    width: 100%;
    padding: 10px;
    position: relative;

   .inputs{
       margin: 20px auto;
       margin-bottom: 15px;
       padding: 10px;
       width: 70%;
       .form-input{
           margin-bottom: 15px;
           input{
               outline: none;
               height: 40px;
               font-size: .85rem;
               padding: 5px;
               font-family: $font-paragraph;
               width: 100%;
               border: 1px solid #c8c8c8;
               border-radius: 3px;
               text-indent: 5px;
               color: $first-border-color;
               transition: .3s all;


               &:focus{
                   border-color: $third-color;
               }
           }
           .error{
               border-color:red;
           }
       }

       .confirm{
           color: red;         
           text-align: center;
           .msj{
                font-size: .8rem;
                font-family: $font-paragraph;
           }
       }
       label{
            color: $first-border-color;
            display: block;
            transition: .2s ease;
            font-family: $font-paragraph;
            font-size: .75rem;
            margin-bottom: 5px;
       }
   }

    .buttons{
        bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 30px;
        
        .return, .submit{
            font-size: .9rem;
            background-color: $color-button;
            color: #fff;
            font-family: $font-button;
            line-height: 38px;
            padding: 0 35px;
            border: none;
            border-color: $third-color;
            cursor: pointer;
            &:hover{
                box-shadow: $box-shadow--hover;
            }
        }
        .return{
            text-decoration: none;
        }
        
    }
}